.section-hero-container {
    display: flex;
    min-height: 620px;
    margin-top: 75px;
    z-index: 0;
    background-image: url(..//img/hero-backgr.png);
    background-repeat: no-repeat;
}

.section-hero__heading {
    width: 459px;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    color: var(--main-colr-);
    margin-top: 130px;
}

.section-hero__description {
    width: 444px;
    font-weight: normal;
    font-size: var(--size-sub-desct-);
    line-height: 150%;
    color: var(--main-colr-);
    margin-top: 30px;
}

.section-hero__button {
    width: 270px;
    height: 69px;
    color: var(--main-colr-);
    font-size: var(--size-desct-);
    margin-top: 70px;
    padding: 24px 75.5px;
    border: 0;
    background: #3F2AFF;
    border-radius: 20px;
    transition: all 0.4s ease-in-out, background .3s ease-in-out;
}

.section-hero__button:hover {
    background: cornflowerblue;
    font-size: var(--size-sub-desct-);
}


.section-hero__button:active {
    background: rgb(194, 124, 235);
    font-size: var(--size-sub-desct-);
}


.section-hero__button:focus {
    animation-name: bounceIn;
    animation-duration: .75s;
    animation-duration: 1s;
    animation-fill-mode: both;
    
    @keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
    }
    20% {
    transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
    transform: scale3d(.9, .9, .9);
    }
    60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
    transform: scale3d(.97, .97, .97);
    }
    100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
    }
    } 
}

.section-hero__pictor {
    background-image: url(..//img/hero-img.png);
    background-repeat: no-repeat;
    background-size: 100%;
}