@media (max-width: 768px) {

    .section-teachers-container {
        min-height: 892px;
    }

    .section-teachers__content-container-one {
        width: 330px;
        height: 180px;
        background-image: url(..//img/teacher1-768.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .section-teachers__content-container-two {
        width: 330px;
        height: 180px;
        background-image: url(..//img/teacher2-768.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .section-teachers__content-container-three {
        width: 330px;
        height: 180px;
        background-image: url(..//img/teacher3-768.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .section-teachers__content-container-four {
        width: 330px;
        height: 180px;
        background-image: url(..//img/teacher4-768.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
}