@media (max-width: 576px) {

    .section-cuorses-content-one {
        // width: 240px;
        height: 180px;
        background-size: 100%;
        background-image: url(..//img/course1-576.png);
        background-repeat: no-repeat;
    }

    .section-cuorses-content-two {
        // width: 240px;
        height: 180px;
        background-size: 100%;
        background-image: url(..//img/course2-576.png);
        background-repeat: no-repeat;
    }

    .section-cuorses-content-three {
        // width: 240px;
        height: 180px;
        background-size: 100%;
        background-image: url(..//img/course3-576.png);
        background-repeat: no-repeat;
    }

    .section-cuorses-content-four {
        // width: 240px;
        height: 180px;
        background-size: 100%;
        background-image: url(..//img/course4-576.png);
        background-repeat: no-repeat;
    }
}