.svg-YT-dims { width: 20px; height: 16px; }
.svg-adva-dims { width: 160px; height: 142px; }
.svg-adva-one-dims { width: 80px; height: 80px; }
.svg-adva-three-dims { width: 78px; height: 80px; }
.svg-adva-two-dims { width: 80px; height: 80px; }
.svg-fb-dims { width: 18px; height: 18px; }
.svg-header-logo-dims { width: 94px; height: 100%; }
.svg-inst-dims { width: 20px; height: 20px; }
.svg-twitter-dims { width: 22px; height: 18px; }
.svg-watch-dims { width: 24px; height: 24px; }